$black: #202020;
$white: #fff;
$accent-blue: #4790ff;
$icons-gray: #9ca5b3;
$links-gray: #9ca5b3;
$accent-red: #ff8e8e;
$gray2: #575e6a;
$gray: #9ca5b3;
$gray3: #b7c3d6;
$stroke-dark: #aeb5bf;
$gray4: #fafafc;
$fill-light-blue: #edf4ff;
$stroke-light: #f2f2f2;
$background-dark: #f1f3f9;
$background-light: #fafafc;
$fill-gray: #f1f3f9;
$icons: #9ca5b3;
$gray-bg: #fafafc;
$gray-fill-dark: #f1f3f9;
$link-gray: #9ca5b3;
$stroke-medium: rgba(0, 0, 0, 0.1);
$blue: #edf4ff;
$accent-red: #ff8e8e;
$accent: #4790ff;
$fill-rose: #ffeee7;
$accent-green: #62f94d;
$accent-yellow: #ffd600;
$font-family: 'Satoshi Variable', sans-serif;
$second-family: 'Manrope', sans-serif;
$third-family: 'SF Pro Display', sans-serif;
$font3: 'SF Pro Text', sans-serif;
$font4: 'Inter', sans-serif;
$font5: 'Satoshi', sans-serif;
